@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .header {
    max-width: 1200px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .main {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  .left-box {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .post-card {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 10px 10px;
  }
  
  .post-card-img {
    width: 230px;
    border-radius: 5px;
  }

  .h3 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    text-decoration: none;
  }
  
  .post-description {
    font-size: 10px;
  }

  .right-box {
    width: 450px;
    display: flex;
    flex-direction: column;
  }

  .h3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .litle-posts {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .litle-post-img {
    width: 100px;
    border-radius: 10px;
  }

  .litle-post-description {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #000000;
    text-decoration: none;
    align-self: center;
  }